//  --------------------------Colors-------------------------------------------------- 
//  ------------------------------------------------------------------------------------
$primarycolor: #1c2c2d;
//  ------------------------------------------------------------------------------------
$secondarycolor: #ef4136;
//  ------------------------------------------------------------------------------------
$teritiarycolor: #49a6d7;
//  ------------------------------------------------------------------------------------
$lightgreycolor:#f4f4f4;
//  --------------------------FONTS----------------------------------------------------- 
//  ------------------------------------------------------------------------------------
$light: 'Abel',
sans-serif;
//  ------------------------------------------------------------------------------------
$regular : 'Abel',
sans-serif;
//  ------------------------------------------------------------------------------------
$bold:'Abel',
sans-serif;
//  ------------------------------------------------------------------------------------
$serif: 'Abel',
sans-serif;
//  ------------------------------------------------------------------------------------
// /---------------------------Global Styles-------------------------------------/
// /-----------------------------------------------------------------------------/
h1 {
    font-size: 34px;
    line-height: 36px;
    color: $primarycolor;
    font-family: $regular;
}

h2 {
    font-size: 30px;
    line-height: 32px;
    color: $primarycolor;
    font-family: $regular;
}

h3 {
    font-size: 26px;
    line-height: 28px;
    color: $primarycolor;
    font-family: $regular;
}

h4 {
    font-size: 22px;
    line-height: 24px;
    color: $primarycolor;
    font-family: $regular;
}

h5 {
    font-size: 18px;
    line-height: 20px;
    color: $primarycolor;
    font-family: $regular;
}

h6 {
    font-size: 14px;
    line-height: 16px;
    color: $primarycolor;
    font-family: $regular;
}

p {
    font-size: 14px;
    line-height: 24px;
    color: $primarycolor;
    font-family: $regular;
    margin-bottom: 20px
}

// /---------------------------END Global Styles-------------------------------------/
// /-----------------------------------------------------------------------------/